<div class="edit-student">
  <h2>Edit Student Details</h2>
  <form [formGroup]="editStudentInfo" (submit)="EditStudentDetails(editStudentInfo, editStudentId)" novalidate>
    <div class="form-group">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Enter Student ID" class="form-control" formControlName="id" />
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Your Name" class="form-control" formControlName="name" required/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Enter Phone Number" class="form-control" formControlName="phone" required/>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="abc@example.com" class="form-control" formControlName="email" required>
      </mat-form-field>
    </div>
    <div class="form-actions">
      <button mat-raised-button color="warn">Submit</button>
    </div>
  </form>
</div>